<!-- 产品卡片 -->
<div th:fragment="product-item(product)" class="col-lg-3 d-flex align-items-stretch">
    <div class="card mb-5 shadow d-flex flex-column justify-content-between"
         th:if="${product.getFilename()}"
         style="height: 100%; padding: 15px;">
        <!-- 图片部分 -->
        <div class="d-flex justify-content-center align-items-center"
             style="flex: 1; overflow: hidden; margin-bottom: 15px;">
            <img th:src="@{/img/{path} (path = ${product.getFilename()})}"
                 class="rounded"
                 style="max-width: 100%; max-height: 100%; object-fit: contain; height: 150px;">
        </div>
        <!-- 商品详情部分 -->
        <div class="card-body text-center" style="flex-shrink: 0;">
            <h5 th:text="${product.getProductName()}"></h5>
            <h6 th:text="${product.getCategory()}"></h6>
            <h6>￥<span th:text="${product.getPrice()}"></span>.00</h6>
        </div>
        <!-- 查看更多按钮 -->
        <div class="text-center mt-auto">
            <a th:href="@{/product/{productId} (productId = ${product.getId()})}"
               class="btn btn-dark">
                查看更多
            </a>
        </div>
    </div>
</div>

<div th:fragment="category-item" class="col-2 float-left">
    <a th:href="${'/product?categories=' + category}">
        <img class="img-fluid" th:src="${src}" alt="">
    </a>
</div>

<!-- 类别筛选 -->
<div th:fragment="products-type-checkbox(type)" class="checkbox">
    <label>
        <input th:value="${type}" type="checkbox" name="categories" onChange="this.form.submit()"
               th:checked="${searchRequest.getCategories() != null ? #arrays.contains(searchRequest.getCategories(), type) : false}"/>
        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
        <th:block th:text="${type}"></th:block>
    </label>
</div>

<!--&lt;!&ndash; 发布年份筛选 &ndash;&gt;-->
<!--<div th:fragment="products-release-year-checkbox(year)" class="checkbox">-->
<!--    <label>-->
<!--        <input th:value="${year}" type="checkbox" name="releaseYear" onChange="this.form.submit()"-->
<!--               th:checked="${searchRequest.getReleaseYear() != null ? #arrays.contains(searchRequest.getReleaseYear(), year) : false}"/>-->
<!--        <span class="cr"><i class="cr-icon fas fa-check"></i></span>-->
<!--        <th:block th:text="${year}"></th:block>-->
<!--    </label>-->
<!--</div>-->

<div th:fragment="products-price-checkbox" class="checkbox">
    <label>
        <input th:value="${startingPrice}" type="radio" name="price" onChange="this.form.submit()"
               th:checked="${searchRequest.getPrice() != null ? startingPrice == searchRequest.getPrice() : false}"/>
        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
        <th:block th:text="${startingPrice == 0} ? 'any' : ${startingPrice} + ' - ' + ${endingPrice} + ' ￥'"></th:block>
    </label>
</div>
