<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-10">
                    <div class="container mb-5">
                        <th:block th:replace="fragments/common-fragments :: info-title(
                            text='Order #' + ${order.getId()},
                            titleClass='text-center',
                            icon='fas fa-shopping-bag'
                        )"/>
                        <div class="row border my-5 px-5 py-3">
                            <div class="col-md-6">
                                <h5 class="manage_user_order_subtitle">
                                    <i class="fas fa-info-circle mr-2"></i>
                                    顾客信息
                                </h5>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='名字', text=${order.getFirstName()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='姓氏', text=${order.getLastName()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='城市', text=${order.getCity()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='地址', text=${order.getAddress()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='邮箱', text=${order.getEmail()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='电话', text=${order.getPhoneNumber()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='邮编', text=${order.getPostIndex()})"/>
                            </div>
                            <div class="col-md-6">
                                <h5 class="manage_user_order_subtitle">
                                    <i class="fas fa-info-circle mr-2"></i>
                                    订单信息
                                </h5>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='订单号', text=${order.getId()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='下单时间', text=${#temporals.format(order.getDate(), 'yyyy-MM-dd HH:mm')})"/>
                                <h4 class="manage_user_order_summary">
                                    订单汇总:
                                    <span class="manage_user_order_summary_price" th:text="'￥' + ${order.getTotalPrice()} + '0'"></span>
                                </h4>
                            </div>
                        </div>
                        <table class="table border text-center">
                            <thead class="table-active">
                            <tr>
                                <th>产品号</th>
                                <th>产品品类</th>
                                <th>产品名</th>
                                <th>价格</th>
                            </tr>
                            </thead>
                            <tbody th:each="product : ${order.getProducts()}">
                            <tr>
                                <th>
                                    <a th:href="@{/product/{productId} (productId = ${product.getId()})}" th:text="${product.getId()}"></a>
                                </th>
                                <th th:text="${product.getCategory()}"></th>
                                <th th:text="${product.getProductName()}"></th>
                                <th th:text="'￥' + ${product.getPrice()} + '.00'"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
