<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
  <div class="container d-flex bg-white shadow-sm">
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>所有产品</h3>
      </div>
      <form action="/product" method="get">
        <ul class="list-unstyled components">
          <h5>品类</h5>
          <li class="active mb-2" id="homeSubmenu">
            <ul class="list-unstyled">
              <li th:insert="fragments/products-fragments :: products-type-checkbox('Mac')"></li>
            </ul>
          </li>
<!--          <h5>Gender</h5>-->
<!--          <li class="active mb-2">-->
<!--            <ul class="list-unstyled">-->
<!--              <li th:insert="fragments/perfumes-fragments :: perfumes-gender-checkbox('female')"></li>-->
<!--              <li th:insert="fragments/perfumes-fragments :: perfumes-gender-checkbox('male')"></li>-->
<!--            </ul>-->
<!--          </li>-->
          <h5>Price</h5>
          <li class="active mb-2">
            <ul class="list-unstyled">
              <li th:insert="fragments/products-fragments :: products-price-checkbox(startingPrice=0, endingPrice=5000)"></li>
              <li th:insert="fragments/products-fragments :: products-price-checkbox(startingPrice=5000, endingPrice=10000)"></li>
              <li th:insert="fragments/products-fragments :: products-price-checkbox(startingPrice=10000, endingPrice=15000)"></li>
              <li th:insert="fragments/products-fragments :: products-price-checkbox(startingPrice=15000, endingPrice=20000)"></li>
              <li th:insert="fragments/products-fragments :: products-price-checkbox(startingPrice=20000, endingPrice=25000)"></li>
              <li th:insert="fragments/products-fragments :: products-price-checkbox(startingPrice=25000, endingPrice=30000)"></li>
            </ul>
          </li>
        </ul>
      </form>
    </nav>
    <div class="container mb-5">
      <div class="container-fluid mt-5 ml-1">
        <form action="/product/search" method="get" style="justify-content: center">
          <th:block th:replace="~{fragments/common-fragments :: search(
                        options=(${ {
                            { value: 'category', text: '品类' },
                            { value: 'productName', text: '产品名' }
                        } })
                    )}"/>
        </form>
      </div>
      <div class="mt-4 ml-1">
        <th:block th:replace="~{fragments/common-fragments :: pagination(class='mx-3')}"/>
        <div class="container-fluid">
          <div class="row" th:fragment="list">
            <th:block th:if="${page.getContent().size() == 0}"
                      th:insert="~{fragments/common-fragments :: empty-result(text='没有找到产品')}"/>
            <th:block th:unless="${page.getContent().size() == 0}" th:each="product : ${page.getContent()}">
              <th:block th:replace="fragments/products-fragments :: product-item(${product})"/>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
