<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table {
            border-collapse: collapse;
            width: 600px;
            border-radius: 50px;
            border: 1px solid #dee2e6;
        }
    </style>
</head>
<body>
<table align="center" class="table">
    <tr>
        <td style="background-color: #ffffff; padding: 40px 30px 40px 30px; text-align: center">
            <h3>您好，<span th:text="${firstName}" th:remove="tag"></span>！</h3>
            <p>我们收到了一项请求，用于重置您账户的密码。</p>
            <p>要重置您的密码，请点击以下链接：</p>
            <a th:href="@{${url} + ${resetCode}}">确认重置密码</a>
        </td>
    </tr>
</table>
</body>
</html>